---
title: News and Upcoming Events
layout: default
---

<div class="pv5 pv6-ns w-100">
  <div class="bg-gray-b measure-narrow measure-ns center">
    <h1 class="f4 f3-m f2-l ttu tc lh-solid">{{ page.title }}</h1>
  </div>

  <div class="db center">

    {% assign news-items = site.news-items | sort: 'position' %}
    {% for news-item in news-items %}
      <div class="dt center pt0 pb5 pv4-m pv5-l">
        {% if news-item.image %}<div class="db dtc-ns v-top-ns">
          {% if news-item.link %}<a href="{{ news-item.link }}" title="{{ news-item.heading }}" class="link">{% endif %}<img src="{{ news-item.image }}" alt="{{ news-item.heading }}" class="w-100 mw7 w5-ns" />{% if news-item.link %}</a>{% endif %}
        </div>{% endif %}
        <div class="db {% if news-item.image %}dtc-ns v-top ph2 pr0-ns pl3-ns {% endif %} measure">
          {% if news-item.link %}<a href="{{ news-item.link }}" title="{{ news-item.heading }}" class="link">{% endif %}<h2 class="f4 f3-ns ttu lh-title blue-b bb b1 mv3 mv0-ns">{{ news-item.heading }}</h2>{% if news-item.link %}</a>{% endif %}
          <p>
            {{ news-item.content }}
          </p>
        </div>
      </div>

    {% endfor %}

  </div>
</div>

{% include contact.html %}
