<section id="about-staff" class="w-100 bg-white black h-full dt bg-cv bg-fixed-f no-repeat" {% include background-image.html image-url="assets/images/bg-about-staff.png" position="top center" %}>
  <div class="w-100 bg-black-30"><div class="flex flex-column flex-row-l pv4">

    <div class="w-100 w-50-l h-full-l dt ph3 ph4-m ph5-l"><div class="dtc v-mid center">
      <h2 class="f2 f1-ns ttu strong fw8 fw9-ns"><span class="white">Chad</span></br><span class="maroon-b">Bartolome</span></h2>
      <p class="white">
        Chad grew up in Northern California and has been playing soccer almost all of his life. He started coaching when he was 16 years old, taking over a local youth team as part of a high school project and also running private sessions with some of the young local talent. He worked at an indoor soccer arena all through high school and would referee and play in matches every night. He received a college scholarship to play soccer at Oregon State University where he played four years of Division 1 Soccer…
      </p>
    </div></div>

    <div class="w-100 w-50-l h-full-l dt ph3 ph4-m ph5-l"><div class="dtc v-mid maroon-b">
      <p class="mb4">
        <img src="assets/images/about-1.jpg" alt="FC Basel" class="mw-100 mw5-ns mr3 mb3" align="left" />
        At college, he coached the women’s club team for two seasons. He also coached Summer camps for the University every year, working with hundreds of children each Summer. After College, Chad continued his Soccer career playing professionally and semi-professionally over the last 11 years for teams here in Switzerland and also in the United States… Sacramento Republic, Portland Timbers, FC Wohlen, SR Delémont, BSC Old Boys just to name a few. In fact, it was an invite to tryout with swiss giants FC Basel that originally brought him over to Basel and started his career here in Switzerland.
      </p>
      <p class="mb4">
        <img src="assets/images/about-2.jpg" alt="SRFC Goal Celebration" class="mw-100 mw5-ns mr3 mb3" align="left" />
        During this 11 year playing career, Chad has won 3 championships and along the way has always continued to coach players of all ages and ability levels. Whether it be in private sessions, small groups, team clinics, camps or in many other forms of training, Chad has been there and done that! He has surrounded himself with Soccer his whole life and has lived out his dream and passion of being a professional soccer player. It never came easy and there was a lot of hard work, setbacks and many obstacles and lessons to learn all along the way. But Chad made it happen. Consequently, Chad has attained a vast knowledge and experience of what it takes to succeed in Soccer.
      </p>
      <p class="mb3">
        <img src="assets/images/about-3.jpg" alt="Timm Klose" class="mw-100 mw5-ns mr3 mb3" align="left" />
        His goal is to share this knowledge and experience with as many passionate and determined players as possible and Chad is committed to push those players past the limits of what they can do and to help them achieve their goals and aspirations… whatever they might be.
      </p>
    </div></div>

  </div></div>
</section>
