<section id="about-bsa" class="w-100 bg-maroon-b">
  <div class="w-100"><div class="flex flex-column flex-row-ns">

    <div class="bg-cv no-repeat w-50-ns" {% include background-image.html image-url="assets/images/bg-about.jpg" %}>
      <div class="w-100 h-full flex items-center">
        <img src="{{ site.favicon }}" class="center w-16 o-80" alt="" />
      </div>
    </div>

    <div class="white pa4 flex flex-column items-center justify-center content-center center">
      <p class="lh-copy measure-narrow measure-m measure-l">
        Bartlomé Soccer Academy specializes in all things Soccer! We offer custom tailored 1 on 1 private &amp; small group sessions, Team clinics, Coaches clinics and even grassroots fun-oriented Holiday camps for children of all ages and ability levels.
      </p>
      <p class="lh-copy measure-narrow measure-m measure-l">
        Our Director and Head Coach, Chad Bartlomé has grown up playing Soccer in the US and has since went on to play professionally in the States and here in Switzerland. Chad has acquired a wide range of experience and knowledge from coaching and training with all sorts of different players from all over the world and our goal at BSA is to share that experience and knowledge with as many passionate players as possible, players just like you! BSA has worked with Professionals, top Amateur and youth talents and even young players just getting started with their Soccer careers.
      </p>
      <p class="lh-copy measure-narrow measure-m measure-l">
        One of our greatest strengths here at the Academy is the ability to recognize and assess exactly where you are as a player and give you the necessary motivation, tools and instruction to allow you to elevate your game and in turn, reach the goals that you aspire to!
      </p>
    </div>

  </div></div>
</section>
