<section class="w-100 h-full dt bg-cv" {% include background-image.html image-url="assets/images/bg-contact.jpg" position="center bottom" %}>
  <div class="w-100 h-full dtc v-mid"><div class="center measure-wide">
    <p class="lh-strong f3 tc white">
    Ready to begin your training?
    </br>
    We are too!
    </p>

    <form class="contact center border-box measure-narrow measure-m measure-wide-l" action="" method="post">
      <div class="mb3 w-100">
        <div class="bg-white black dib-ns br3 relative lh-solid overflow-hidden fieldset">
          <input class="w-100 br3 relative top-0 left-0 pa2" id="first-name" type="firstname" name="firstname" required>
          <label class="w-100 pa2 mid-gray absolute top-0 bottom-0 left-0" for="firstname">First Name</label>
        </div>
        <div class="bg-white black dib-ns br3 relative lh-solid overflow-hidden fieldset">
          <input class="w-100 br3 relative top-0 left-0 pa2" id="last-name" type="name" name="lastname" required>
          <label class="w-100 pa2 mid-gray absolute top-0 bottom-0 left-0" for="lastname">Last Name</label>
        </div>
      </div>
      <div class="mb3 w-100">
        <div class="bg-white black dib-ns br3 relative lh-solid overflow-hidden fieldset">
          <input class="w-100 br3 relative top-0 left-0 pa2" id="email" type="email" name="email" required>
          <label class="w-100 pa2 mid-gray absolute top-0 bottom-0 left-0" for="email">Email</label>
        </div>
        <div class="bg-white black br3 dib-ns relative lh-solid overflow-hidden fieldset">
          <input class="w-100 br3 relative top-0 left-0 pa2" id="phone" type="tel" name="phone" required>
          <label class="w-100 pa2 mid-gray absolute top-0 bottom-0 left-0" for="phone">Phone</label>
        </div>
      </div>
      <div class="bg-white black br3 w-100 mb3 relative lh-solid overflow-hidden fieldset">
        <input class="w-100 br3 relative top-0 left-0 pa2" id="interest" type="text" name="interest" required>
        <label class="w-100 pa2 mid-gray absolute top-0 bottom-0 left-0" for="interest">Programs of Interest</label>
      </div>
      <div class="bg-white black br3 w-100 mb3 relative lh-solid overflow-hidden fieldset">
        <input class="w-100 br3 relative top-0 left-0 pa2 h5 db" id="comments" type="textarea" name="comments" required title="If not, just type in "N/A"">
        <label class="w-100 pa2 mid-gray absolute top-0 bottom-0 left-0" for="comments">Any Questions or Comments?</label>
      </div>
      <div class="tc">
        <input class="br-pill bg-green-b white pa3" type="submit" value="Submit" text="Submit">
      </div>
    </form>
  </div></div>
</section>
