<nav class="dt w-100 border-box pa3 ph2 ph5-ns mb3 fixed top-0 left-0 bg-black-60">

  <a class="db dtc-l v-mid mid-gray link dim ph3 w-100 w-25-l tc tl-l mb3 mb0-l" href="index.html" title="Home">
    <img src="{{ site.favicon }}" class="dib w2" alt="{{ site.title }} Logo">
  </a>

  <div class="db dtc-l v-mid tc tr-l">
    {% for nav-item in site.data.nav-items %}{% if forloop.last %}
    <a data-scroll class="link dim light-gray ttu tracked f6 f5-ns dib" href="{{ nav-item.link | replace: '/#', '#' }}" title="{{ nav-item.name }}">{{ nav-item.name }}</a>
    {% else %}
    <a data-scroll class="link dim light-gray ttu tracked f6 f5-ns dib mr3 mr4-ns" href="{{ nav-item.link | replace: '/#', '#' }}" title="{{ nav-item.name }}">{{ nav-item.name }}</a>
    {% endif %}{% endfor %}
  </div>

</nav>
