<nav class="dt w-100 border-box pa3 ph2 ph5-ns fixed absolute-l top-0 left-0 z-5 b-main-nav" style="background: -moz-linear-gradient(top, rgba(17,17,17,1) 0%, rgba(17,17,17,0) 100%); background: -webkit-linear-gradient(top, rgba(17,17,17,1) 0%, rgba(17,17,17,0) 100%); background: linear-gradient(to bottom, rgba(17,17,17,1) 0%, rgba(17,17,17,0) 100%);"><div class="flex flex-row justify-between content-center items-center">

  <a class="mid-gray link dim bg-brand relative" href="index.html">
    <img src="{{ site.favicon }}" class="relative fixed-l top-1-l dib w-3 w3-m w-5-l" alt="{{ site.title }} Logo">
  </a>

  <div class="dn db-l relative mv4">
    {% for item in site.nav %}
    {% if item.drop %}
    <div id="{{ item.name }}" class="dib relative pointer pan hide-child mr3 mr4-ns">
      <a class="light-gray hover-blue-b no-underline f6 f5-ns ttu tracked white pa3 pb3">{{ item.name }}</a>
      <div class="child absolute man pan w-100 tc">
        {% for drop-item in item.drop %}
        <a class="db pa3 dim link white hover-blue-b tl ttu tracked" href="{{ drop-item.link }}">{{ drop-item.name }}</a>
        {% endfor %}
      </div>
    </div>
    {% else%}
    <a data-scroll class="link dim light-gray hover-blue-b ttu tracked f6 f5-ns dib mr3 mr4-ns" href="{{ item.link }}">{{ item.name }}</a>
    {% endif %}
    {% endfor %}
    <span class="light-gray f6 f5-ns dib mr3 mr4-ns">&#124;</span>
    <a data-scroll class="link dim light-gray hover-blue-b ttu tracked f6 f5-ns dib mr3 mr4-ns" href="news.html">Upcoming Events</a>

    <div id="social" class="dib relative pointer hide-child man pan pb3">
      <a href="#social" class="white hover-blue-b no-underline f6 f5-ns ttu tracked pa3 pb3">Social Media</a>
      <div class="child absolute man pan w-100 tc">
        {% for item in site.social %}
        <a class="db pa3 dim link white hover-blue-b tl ttu tracked" href="{{ item.link }}">{{ item.name }}</a>
        {% endfor %}
      </div>
    </div>

  </div>

  <div class="b-menu relative border-box pa3 pb4 db dn-l self-center">
    <div class="b-bun b-bun--top"></div>
    <div class="b-bun b-bun--mid"></div>
    <div class="b-bun b-bun--bottom"></div>
  </div>

</div></nav>

<div class="b-nav dn w-100 h-full fixed top-0 left-0 z-4"><div class="dt h-full w-100 bg-near-black">

  <div class="dtc v-mid tl pl3">
    {% for item in site.nav %}
    {% if item.drop %}
    <div id="{{ item.name }}" class="db relative pointer pan ban mv3 pan">
      <a class="link dim light-gray ttu tracked f6 f5-ns db mv3">{{ item.name }}</a>
      {% for drop-item in item.drop %}
        <a class="link dim white f6 f5-ns mv3 db ttu tracked ban ml3" href="{{ drop-item.link }}">{{ drop-item.name }}</a>
      {% endfor %}
    </div>
    {% else%}
    <a data-scroll class="link dim white ttu tracked f6 f5-ns mv3 db" href="{{ item.link }}">{{ item.name }}</a>
    {% endif %}
    {% endfor %}

    <hr class="mv3 mr3" />

    <a data-scroll class="link dim light-gray ttu tracked f6 f5-ns db mv3" href="/news">Upcoming Events</a>

    <div id="social" class="db relative pointer pan ban man pan">
      <a class="link dim light-gray ttu tracked f6 f5-ns db mv3">Social Media</a>
      {% for item in site.social %}
      <a href="{{ item.link }}" class="link dim white ttu tracked f6 f5-ns mv3 db ttu tracked ban ml3">{{ item.name }}</a>
      {% endfor %}
    </div>
  </div>

</div></div>
