<head>
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords | strip_newlines }}{% else %}{{ site.keywords }}{% endif %}" />

  <meta name="robots" content="index, follow" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:url" content="{{ page.url }}" />
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
  {% if page.image %}<meta property="og:image" content="{{ page.image }}" />{% endif %}
  <meta property="og:locale" content="en_CH" />

  <meta property="twitter:card" content="summary" />
  <meta property="twitter:site" content="@bartholomesa />
  <meta property="twitter:title" content="{{ page.title }}" />
  <meta property="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
  {% if page.image %}<meta property="twitter:image" content="" />{% endif %}
  <meta property="twitter:url" content="{{ page.url }}" />

  <link rel="icon" href="{{ site.favicon }}" />

  <link rel="author" href="humans.txt" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <link rel="stylesheet" href="https://unpkg.com/tachyons@{{ site.tv }}/css/tachyons.min.css"/>
  <link rel="stylesheet" href="css/main.css">

  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
</head>
