{% for carousel in site.carousel %}
<div class="dn man pan">
<a href="{% if carousel.link %}{{ carousel.link }}{% else %}#{% endif %}"><img src="{{ carousel.img }}" /></a>
</div>
{% endfor %}


<section id="gallery" class="w-100 h-full dt relative bg-cv man pan bg-fixed-f no-repeat" style="background-image: url('{% if carousel.img %}{{ carousel.img }}{% endif %}')">

  <div class="dtc v-mid bg-black-50"><div class="measure-narrow measure-m measure-wide-l center">
    <h1 class="mb4 lh-title white f2 tc"> Elevate your game. </h1>
    <div class="tc">
      <a href="#programs" class="mb3 mbn-ns link br-pill pa3 w4 bg-white black dib mr3 dim">View Programs</a>
      <a href="#about-bsa" class="link br-pill pa3 w4 ba b--white white dib mr3 dim">About BSA</a>
      {% if carousel.link %}<a href="{{ carousel.link }}" class=" class="link br-pill pa3 w4 ba b--white white dib mr3 dim">{{ carousel.link_text }}</a>{% endif %}
    </div>
  </div></div>

  <div class="absolute bottom-0 left-0 w-100 tc">
<a href="#about-bsa" class="white no-underline link" title="To About Bartlomé Soccer Academy"><img src="assets/icons/right.png" class="br-100 bg-white ba b--white w1 h1 mb3 pa2" alt="&#709;" style="-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);" /></a>
  </div>

</section>

{% for carousel in site.carousel %}
<div class="dn man pan">
<a href="{% if carousel.link %}{{ carousel.link }}{% else %}#{% endif %}"><img src="{{ carousel.img }}" /></a>
</div>
{% endfor %}


<div class="owl-carousel owl-theme">
  <div class="owl-slide d-flex align-items-center cover" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/owlcarousel1.jpg);">
    <div class="container">
      <div class="row justify-content-center justify-content-md-start">
        <div class="col-10 col-md-6 static">
          <div class="owl-slide-text">
            <h2 class="owl-slide-animated owl-slide-title">The bedding was hardly able to cover it</h2>
            <div class="owl-slide-animated owl-slide-subtitle mb-3">
              One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin.
            </div>
            <a class="btn btn-primary owl-slide-animated owl-slide-cta" href="https://unsplash.com/photos/pgR4yBMjum8" target="_blank" role="button">See Original Image</a>
          </div>
        </div>
      </div>
    </div>
  </div><!--/owl-slide-->

  <div class="owl-slide d-flex align-items-center cover" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/owlcarousel2.jpg);">
    <div class="container">
      <div class="row justify-content-center justify-content-md-start">
        <div class="col-10 col-md-6 static">
          <div class="owl-slide-text">
            <h2 class="owl-slide-animated owl-slide-title">Samsa was a travelling salesman.</h2>
            <div class="owl-slide-animated owl-slide-subtitle mb-3">
              It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather.
            </div>
            <a class="btn btn-primary owl-slide-animated owl-slide-cta" href="https://unsplash.com/photos/Ijx8OxvKrgM" target="_blank" role="button">See Original Image</a>
          </div>
        </div>
      </div>
    </div>
  </div><!--/owl-slide-->

  <div class="owl-slide d-flex align-items-center cover" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/owlcarousel3.jpg);">
    <div class="container">
      <div class="row justify-content-center justify-content-md-start">
        <div class="col-10 col-md-6 static">
          <div class="owl-slide-text">
            <h2 class="owl-slide-animated owl-slide-title">A collection of textile samples.</h2>
            <div class="owl-slide-animated owl-slide-subtitle mb-3">
              He lay on his armour-like back, and if he lifted his head a little he could see his brown belly.
            </div>
            <a class="btn btn-primary owl-slide-animated owl-slide-cta" href="https://unsplash.com/photos/7uwbhGSH5Fg" target="_blank" role="button">See Original Image</a>
          </div>
        </div>
      </div>
    </div>
  </div><!--/owl-slide-->
</div>
