
<div class="owl-carousel owl-theme">
  {% for carousel in site.carousel %}
  <div class="owl-slide d-flex align-items-center cover" style="background-image:{% if carousel.image %} url('{{ carousel.image }}'){% endif %};">
    <div class="container-fluid bg-black-50 min110">
      <div class="row slider-inner-content">
        <div class="w-100 static slider-inner-content">
          <div class="owl-slide-text">
              <div class="measure-narrow measure-m measure-wide-l center">
                <h1 class="mb4 lh-title white f2 tc">Elevate your game.</h1>
                <div class="tc">
                  <a class="mb3 mbn-ns link br-pill pa3 w4 bg-white black dib mr3 dim" href="#Programs" target="_blank" role="button">View Programs</a>
                  <a class="link br-pill pa3 w4 ba b--white white dib mr3 dim" href="#About" target="_blank" role="button">About BSA</a>
                  {% if carousel.link %}<a class="link br-pill pa3 ba bg-gray white dib mr3 dim btn-special" href="{{ carousel.link }}" target="_blank" role="button">{% if carousel.link_text %}{{ carousel.link_text }}{% endif %}</a>{% endif %}
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div><!--/owl-slide-->
  {% endfor %}
</div>

  <div class="absolute bottom-0 left-0 w-100 tc">
<a href="#about-bsa" class="white no-underline link" title="To About Bartlomé Soccer Academy"><img src="assets/icons/right.png" class="br-100 bg-white ba b--white w1 h1 mb3 pa2" alt="&#709;" style="-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);" /></a>
  </div>
