
<div class="owl-carousel owl-theme">
  {% for carousel in site.carousel %}
  <div class="owl-slide d-flex align-items-center cover" style="background-image:{% if carousel.image %} url('{{ carousel.image }}'){% endif %};">
    <div class="container-fluid bg-black-50">
      <div class="row justify-content-center justify-content-md-start">
        <div class="w-80 static">
          <div class="owl-slide-text">
              <div class="measure-narrow measure-m measure-wide-l center">
                <h1 class="owl-slide-animated owl-slide-title mb4 lh-title white f2 tc">Elevate your game.</h1>
                <div class="tc">
                  <a class="btn btn-primary owl-slide-animated owl-slide-cta" href="#Programs" target="_blank" role="button">View Programs</a>
                  <a class="btn btn-primary owl-slide-animated owl-slide-cta" href="#About" target="_blank" role="button">About BSA</a>
                  <a class="btn btn-primary owl-slide-animated owl-slide-cta" href="{% if carousel.link %}{{ carousel.link }}{% endif %}" target="_blank" role="button">{% if carousel.link_text %}{{ carousel.link_text }}{% endif %}</a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div><!--/owl-slide-->
  {% endfor %}
</div>

  <div class="absolute bottom-0 left-0 w-100 tc">
<a href="#about-bsa" class="white no-underline link" title="To About Bartlomé Soccer Academy"><img src="assets/icons/right.png" class="br-100 bg-white ba b--white w1 h1 mb3 pa2" alt="&#709;" style="-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);" /></a>
  </div>
