
<section id="partners" class="w-100 bg-white ptb-2">
  <h2 class="black text-center">Partners</h2>
  <div class="w-100 v-mid plr-15 ptb-2">
    {% for primary_partners in site.primary-partners %}
    <div class="w-33 plr-4"><img class="partner-image" src="{{ primary-partners.image }}" />
      <p class="black">{{ primary-partners.name }}</p>
      {{site.primary-partners}}
    </div>
    {% endfor %}

  </div>
  <div class="w-100 v-mid plr-15 ptb-2">
    <div class="w-25 plr-2"><img class="partner-image" src="assets/images/partners/bscob_black.png" /></div>
    <div class="w-25 plr-2"><img class="partner-image" src="assets/images/partners/lkp_black.png" /></div>
    <div class="w-25 plr-2"><img class="partner-image" src="assets/images/partners/sklz.png" /></div>
    <div class="w-25 plr-2"><img class="partner-image" src="assets/images/partners/shirtworld-ch.png" /></div>
  </div>
</section>
