
<section id="partners" class="w-100 bg-white">
  <div class="w-100 v-mid pa3">
    <div class="w-33"><img src="assets/images/partners/fdl.png" /></div>
    <div class="w-33"><img src="assets/images/partners/rk.png" /></div>
    <div class="w-33"><img src="assets/images/partners/SLB.png" /></div>
  </div>
  <div class="w-100 v-mid pa3">
    <div class="w-25"><img src="assets/images/partners/bscob_black.png" /></div>
    <div class="w-25"><img src="assets/images/partners/lkp_black.png" /></div>
    <div class="w-25"><img src="assets/images/partners/sklz.png" /></div>
    <div class="w-25"><img src="assets/images/partners/shirtworld-ch.png" /></div>
  </div>
</section>
