
<section id="partners" class="w-100 bg-white ptb-2">
  <h2 class="black text-center">Partners</h2>
  <div class="w-100 v-mid plr-10 ptb-2">
    {% for primary-partners in site.primary-partners %}
    <div class="w-33 plr-4"><a target="_blank" href="{% if primary-partners.link %}{{ primary-partners.link }}{% endif %}"><img class="partner-image" src="{{ primary-partners.image }}" /></a></div>
    {% endfor %}
  </div>
  <div class="w-100 v-mid plr-10 ptb-2">
    {% for secondary-partners in site.secondary-partners %}
    <div class="w-25 plr-2"><a target="_blank" href="{% if secondary-partners.link %}{{ secondary-partners.link }}{% endif %}"><img class="partner-image" src="{{ secondary-partners.image }}" /></a></div>
    {% endfor %}
  </div>
</section>
