<section id="programs" class="w-100 h-full dt relative bg-cv bg-fixed-f no-repeat" {% include background-image.html image-url="assets/images/bg-programs.JPG" %}>
  <div class="w-100 h-full dtc v-mid bg-black-50 pt5"><div class="center measure-narrow measure-m measure-wide-ns flex-row">

    {% for program in site.programs %}
    {% capture int %}{% cycle "odd", "even" %}{% endcapture %}
    {% if int == "odd" %}
    <div class="flex flex-column fd-row-ns items-center mb6 relative">
      <img src="assets/icons/{{ program.icon }}.svg" alt="{{ program.name }} Icon" class="w4 h4 w5-ns h5-ns fill-white" />
      <div class="tc tl-ns">
        <h2 class="f5 f4-ns lh-solid">{{ program.name }}</h2>
        <p class="lh-copy">{{ program.content | markdownify }}</p>
        <div class=""><a href="{% if program.link %}{{ program.link }}{% else %}#contact{% endif %}" class="link white flex flex-row items-center"><span>{% if program.cta %} {{ program.cta }} {% else %} Click for bookings or inquiries {% endif %}</span><span><img src="assets/icons/right.png" class="br-100 ml2 pa1 bg-white ba b--white w1 h1" alt=">" /></span></a></div>
      </div>
    </div>
    {% else if int == "even" %}
    <div class="flex flex-column fd-rev-ns items-center mb6 relative">
      <img src="assets/icons/{{ program.icon }}.svg" alt="{{ program.name }} Icon" class="w4 h4 w5-ns h5-ns fill-white" />
      <div class="tc tr-ns">
        <h2 class="f5 f4-ns lh-solid">{{ program.name }}</h2>
        <p class="lh-copy">{{ program.content | markdownify }}</p>
        <div class=""><a href="{% if program.link %}{{ program.link }}{% else %}#contact{% endif %}" class="link white flex flex-row items-center"><span>{% if program.cta %}{{ program.cta }}{% else %}Click for bookings or inquiries {% endif %}</span><span><img src="assets/icons/right.png" class="br-100 ml2 pa1 bg-white ba b--white w1 h1" alt=">" /></span></a></div>
      </div>
    </div>
    {% endif %}
    {% endfor %}

  </div></div>
</section>
<script>
  $(".owl-carousel").on("initialized.owl.carousel", () => {
    setTimeout(() => {
      $(".owl-item.active .owl-slide-animated").addClass("is-transitioned");
      $("section").show();
    }, 200);
  });

  const $owlCarousel = $(".owl-carousel").owlCarousel({
    items: 1,
    loop: true,
    nav: true,
    navText: [
      '<svg width="50" height="50" viewBox="0 0 24 24"><path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"/></svg>',
      '<svg width="50" height="50" viewBox="0 0 24 24"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"/></svg>' /* icons from https://iconmonstr.com */
    ]
  });

  $owlCarousel.on("changed.owl.carousel", e => {
    $(".owl-slide-animated").removeClass("is-transitioned");

    const $currentOwlItem = $(".owl-item").eq(e.item.index);
    $currentOwlItem.find(".owl-slide-animated").addClass("is-transitioned");

    const $target = $currentOwlItem.find(".owl-slide-text");
    doDotsCalculations($target);
  });

  $owlCarousel.on("resize.owl.carousel", () => {
    setTimeout(() => {
      setOwlDotsPosition();
    }, 50);
  });

  /*if there isn't content underneath the carousel*/
  //$owlCarousel.trigger("refresh.owl.carousel");

  setOwlDotsPosition();

  function setOwlDotsPosition() {
    const $target = $(".owl-item.active .owl-slide-text");
    doDotsCalculations($target);
  }

  function doDotsCalculations(el) {
    const height = el.height();
    const {top, left} = el.position();
    const res = height + top + 20;

    $(".owl-carousel .owl-dots").css({
      top: `${res}px`,
      left: `${left}px`
    });
  }
</script>
