<section id="programs" class="w-100 h-full dt relative bg-cv bg-fixed-f no-repeat" {% include background-image.html image-url="assets/images/bg-programs.JPG" %}>
  <div class="w-100 h-full dtc v-mid bg-black-50 pt5"><div class="center measure-narrow measure-m measure-wide-ns flex-row">

    {% for program in site.programs %}
    {% capture int %}{% cycle "odd", "even" %}{% endcapture %}
    {% if int == "odd" %}
    <div class="flex flex-column fd-row-ns items-center mb6 relative">
      <img src="assets/icons/{{ program.icon }}.svg" alt="{{ program.name }} Icon" class="w4 h4 w5-ns h5-ns fill-white" />
      <div class="tc tl-ns">
        <h2 class="f5 f4-ns lh-solid">{{ program.name }}</h2>
        <p class="lh-copy">{{ program.content | markdownify }}</p>
        <div class=""><a href="{% if program.link %}{{ program.link }}{% else %}#contact{% endif %}" class="link white flex flex-row items-center"><span>{% if program.cta %} {{ program.cta }} {% else %} Click for bookings or inquiries {% endif %}</span><span><img src="assets/icons/right.png" class="br-100 ml2 pa1 bg-white ba b--white w1 h1" alt=">" /></span></a></div>
      </div>
    </div>
    {% else if int == "even" %}
    <div class="flex flex-column fd-rev-ns items-center mb6 relative">
      <img src="assets/icons/{{ program.icon }}.svg" alt="{{ program.name }} Icon" class="w4 h4 w5-ns h5-ns fill-white" />
      <div class="tc tr-ns">
        <h2 class="f5 f4-ns lh-solid">{{ program.name }}</h2>
        <p class="lh-copy">{{ program.content | markdownify }}</p>
        <div class=""><a href="{% if program.link %}{{ program.link }}{% else %}#contact{% endif %}" class="link white flex flex-row items-center"><span>{% if program.cta %}{{ program.cta }}{% else %}Click for bookings or inquiries {% endif %}</span><span><img src="assets/icons/right.png" class="br-100 ml2 pa1 bg-white ba b--white w1 h1" alt=">" /></span></a></div>
      </div>
    </div>
    {% endif %}
    {% endfor %}

  </div></div>
</section>
