<!DOCTYPE html>
<html lang="en_CH">

  {% include head.html %}

  <body class="bg-gray-b white avenir man pan">

    {% include header.html %}

    <main class="man pan">
        {{ content }}
    </main>

    {% include footer.html %}

    <script src="js/main.js"></script>
    <script>
        smoothScroll.init();
    </script>

    <script>


    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

  </body>

</html>
